 <label class="dropdown">
      <div class="dd-button">
        Sorteer
      </div>
      <input type="checkbox" class="dd-input" id="test">
      <ul class="dd-menu">
        <li class="a-z">A - Z</li>
        <li class="z-a">Z - A</li>
      </ul>
    </label>
