<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#E0E5Ec"/>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/main.a363ad46.css">
  <link rel="apple-touch-icon" href="/apple-icon.03ccbff8.png">
  <title>Web App From Scratch - Minor Web Development - CMD Amsterdam</title>
  <link rel="shortcut icon" href="">
  <link rel="manifest" href="/manifest.json">
</head>
