 <section class="search">
  <h1>Verzamel de lekkerste biertjes</h1>
  <img src="/beer.f1f381b4.svg" alt="beer">
  <img src="/beer.f1f381b4.svg" alt="beer">
  <img src="/beer.f1f381b4.svg" alt="beer">
</section>
