 <section class="search">
  <h1>Verzamel de lekkerste biertjes</h1>
  <img src="/beer.871b719e.svg" alt="beer">
  <img src="/beer.871b719e.svg" alt="beer">
  <img src="/beer.871b719e.svg" alt="beer">
</section>
