 <section class="search">
  <h1>Verzamel de lekkerste biertjes</h1>
  <div>
    <input type="text" id="search" name="search">
    <label for="search"><span>Zoek een heerluk biertje</span></label>
    <button id="submit-btn">Zoeken</button>
  </div>
  <img src="/beer.f1f381b4.svg" alt="beer">
  <img src="/beer.f1f381b4.svg" alt="beer">
  <img src="/beer.f1f381b4.svg" alt="beer">
</section>
