<section class="detail">
  <img src="/cross.f1a68627.svg" alt="close" class="close">
  <div>
    <div>
      <img src="/beer.0f9b16d7.png" alt="beer">
      <img id="detail-image" src="" alt="beer logo">
    </div>
    <div>
      <h2 id="detail-title"></h2>
      <ul class="meta">
        <li class="abv" id="detail-abv"></li>
        <li class="created" id="detail-created"></li>
        <li class="type" id="detail-type"></li>
      </ul>
       <ul class="meta sec">
        <li class="organic">Organic? <img id="detail-organic" src="" alt="Check"></li>
        <li class="organic">In production? <img id="detail-production" alt="Check"></li>
      </ul>
      <p id="detail-description"></p>

      <h2 id="detail-title">Get that beer</h2>
      <div id="map"></div>
    </div>
  </div>
</section>
