 <footer>
       MIT © CMD Amsterdam, docs and images are CC-BY-4.0.
    </footer>
  </main>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3SgSfMzD9hWpz2Bwq93M89QJ6YT9q2-M"></script>
</body>
</html>
